*{
    list-style: none;
    margin: 0;
    font-family:"Monsterrat"
}
body{
    background-color: blanchedalmond;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    width:700px;
    height:600px;
    background-color:aquamarine;
    border: 1px solid bisque;
    border-top: none;
    border-right: none;
    border: top 100px;
    z-index: 0;
}
.v-meter{
    position: relative;
    top:0px;
    left:-30px;
    width:700px;
    height: 500px;
    z-index:100px;
}
.v-meter li{
    position: relative;
    left:-11px;
    width:700px;
    height: 100px;
   
}
.v-meter li ::before{
    content:'';
    position: absolute;
   font: size 16px;
    left:-115px;
    padding-top:55px;
    color: azure;
    text-align: right;
}
.bar{
   width: 50px;
   height: 32%;
   background-color: darkolivegreen; 
   position: absolute;
   left:10%;
   bottom: 5px;
   z-index: 1000;
   margin: 0 40px;
}
.bar::after{
    content:'';
    width: 50px;
    height: 20px;
    background-color: darkolivegreen; 
    position: absolute;
    top: -20px;
    left: -10px;
    transform: skewX(45deg);
 }
 .bar::before{
    content:'';
    width: 50px;
    height: 100%;
    background-color: darkolivegreen; 
    position: absolute;
    top: -10px;
    left: -20px;
    transform: skewY(45deg);
 }
 .two{
    left:25%
    height 55%;
 }
 .three{
    left:40%
    height 79%;
 }